@import "../../../assets/css/global.scss";

.container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-top: 15px;
  border-top: 1px solid $white;
}

.infoContainer,
.iconContainer {
  margin: 20px 0px;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: $white;
}

.icon {
  width: 30px;
  height: 30px;
  color: $white;
  &:hover {
    cursor: pointer;
  }
}
