@import "../../../assets/css/global.scss";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: $linear;
}

.containerSmall {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
  transition: $linear;
}

.buttonContainer {
  width: 30%;
}
